{% include citation/author_list.html authors=citation.author %}
({{ include.citation.issued.year }}). 
<em>{{ include.citation.title }}</em>. 
{% if citation.collection-title %}
  In 
  {% if citation.editor %}
    {% include citation/author_list.html authors=citation.editor %}
    {% if citation.editor.size > 1 %}
      (Eds.) 
    {% else %}
      (Ed)
    {% endif %}
    {{ citation.collection-title }}. 
  {% endif %}
  {% if citation.page %}
    (pp. {{ citation.page }}). 
  {% endif %}
{% endif %}
{% if include.citation.event-place %}
  {{ include.citation.event-place }}: 
{% endif %}
{% if include.citation.publisher %}
  {{ include.citation.publisher %}}
{% endif %}