---
layout: default
---

<div class="bibliography">
  {% for citation in site.data.bibliography %}
    <p class="citation">
      {% case citation.type %}
        {% when 'book' %}
          {% include citation/book.html citation=citation %}
        {% when 'chapter' %}
          {% include citation/book.html citation=citation %}
        {% else %}
          {% include citation/default.html citation=citation %}
      {% endcase %}
    </p>
    {% if citation.note %}
        <blockquote>{{ citation.note | markdownify }}</blockquote>
    {% endif %}
  {% endfor %}
</div>