---
layout: default
---

<div class="home">
  
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <hr/>
  </header>
  
  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}
  
  <h3>Prerequisites</h3>

  <p>This is an introductory workshop geared for those with no experience in R.
  No statistical or programming experience is needed.</p>
  
  <h3>Learning Objectives</h3>

  <ul>
    {% if site.data.objectives and site.data.objectives.size > 0 %}
      {% for objective in site.data.objectives %}
        <li>{{ objective }}</li>
      {% endfor %}
    {% else %}
      <li>None Specified</li>
    {% endif %}
  </ul>


  <h3>Units</h3>
  
  {% assign sorted_pages = site.pages | sort:"order" %}
  <ol>
  {% for node in sorted_pages %}
    {% if node.order %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endfor %}
  </ol>
  
  {% for node in sorted_pages %}
  <li>{{ node.path }}</li>
  {% endfor %}
  
   <hr/>
  <div>
      <ul>
            <li class="navigation right">
                <a href="{{ next_page.url }}"> {{next_page.title}} --></a>
            </li>
      </ul>
  </div>
  <div>
      <ul>
          {% if page.links.root %}
            <li class="navigation center">
                <a href={{ page.links.root.href  }}>{{ page.links.root.text }}</a>
            </li>
          {% endif %}
      </ul>
  </div>
  
  <br/>
  
  <hr/>

  {% include pagination.html %}

</div>
