---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="site-title">
      <h1 class="site-title"> {{ site.title | escape }} </h1>
    </div>
    <div class="unit-titel">
      <h1 class="post-title">{{ page.title | escape }}</h1></div>
    <hr/>
  </header>

  <div class="post-content">
    {{ content }}
    
    {% if page.supporting_files %}
      <h3> Supporting Files</h3>
      <ul>
          {% for file in page.supporting_files %}
            <li>
              <a href={{ site.supporting_files_url }}{{ site.supporting_files_path }}/{{ file.file_name }}>{{ file.link_text }}</a>
            </li>
          {% endfor %}
      </ul>
    {% endif %}
  </div>

  <hr/>

  <div id="navigation">
    <ul>
      {% assign sorted_pages = site.units | sort:"order" %}
      {% if page.order > 0 %}
        <li class="left">
          {% assign prev_page_number = page.order | minus: 1 %}
          {% assign prev_page = sorted_pages[prev_page_number] %}
          <a href={{ prev_page.url | prepend:site.baseurl}}><--{{ prev_page.title }}</a>
        </li>
      {% endif %}
      {% assign last_page = sorted_pages.size | minus: 1 %}
      {% if page.order < last_page %}
        <li class="right">
          {% assign next_page_number = page.order | plus: 1 %}
          {% assign next_page = sorted_pages[next_page_number] %}
            <a href={{ next_page.url | prepend:site.baseurl }}> {{ next_page.title }} --></a>
        </li>
      {% endif %}
    </ul>
    <br/>
    <ul>
      <li class="center">
          <a href="{{ site.baseurl }}/">Top Page</a>
      </li>
    </ul>
  </div>
  
  <hr/>
  <div class="right">
    <p>Page {{ page.order | plus: 1 }} of {{  site.units.size  }}</p>
  </div>

</article>
