.site-title {
    font-weight: 800;
}

h1, h2, h3 {
    font-weight: 800;
    color: #3B3B3B;
}

body {
    color: #4e4e4e;
}

.two_col {
    width: 400px;
}


.one_col {
    width: 450px;
}



li.navigation{
    list-style-type: none;
    display: inline-block;
    // &.right {
    //     float: right;
    // }
    &.center {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

.right {
    float: right;
}


.left {
    float: left;
}

.center {
    margin-right: auto;
    margin-left: auto;
    
}

figure {
    display: inline-block;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}